$nav-font-family: "BodoniSvtyTwoITCTT-Book";

.blog-page{
    padding: 100px 0 10px;

    .trend-item{
        margin-bottom: 40px;
    }

    .page-item{
        .page-link{
            color: $gray-900;
            font-family: $nav-font-family;
        }
        
    }
}

.single-blog-section{
    padding: 100px 0;
    .title-tag{
        a{
            font-family: $nav-font-family;
            font-style: italic;
            span{
                font-weight: bold;
            }
        }
    }
    .first-part{
        // padding: 100px 0;
        margin-bottom: 100px;
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
            
        }
        p{
            font-size: 2rem;
            line-height: 2.8rem;
            font-weight: $font-weight-light;
        }
    }

    .second-part{
        .about-article{
            margin-bottom: 50px;
            p{
                line-height: 2.6rem;
                font-weight: $font-weight-light;
            }
        }
    }

    .news-tags{
        a{
            text-transform: lowercase;
            font-family: $nav-font-family;
        }

        .tag-title{
            font-family: $nav-font-family;
            font-weight: $font-weight-medium;
            font-style: italic;
        }
    }
    
    }
    