
.service-section{
    // margin-bottom: 40px;
    h1{
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 5px;
    }
    .service-article{
        .service-content{
            h2{
                font-size: 2.6rem;
                line-height: 3.4rem;
                font-weight: $font-weight-normal;
                margin-bottom: 30px;

            }
            .btn{
                background-color: transparent;
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
    }
}

@media(min-width: 768px){
    .service-section{
        .service-article{
            .service-content{
                padding: 0 30px;
            }
        }
    }
}

@media(min-width: 992px){
    .service-section{
        .service-article{
            .service-content{
                padding: 0 100px;
                h2{
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    font-weight: $font-weight-normal;
                    margin-bottom: 30px;
    
                }
            }
        }
    }
}